
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0
}

.content{
    background-color: white;
}
body{
    background-image: url("/resources/images/paisley-background.jpeg");
    background-size: cover;
}

p{
    color: black;
}