

.profile-picture {
    border-radius: 50%;
}

.name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
}
.soc-med-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.soc-med-links li {
    display: inline-block;
    margin-right: 8px;
}

.soc-med-links a {
    text-decoration: none;
    padding: 4px;
}

.soc-med-links   a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}